[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bbqlinux/Desktop/calamares-bbqlinux.desktop]
row=0
col=1

[61a5baf4-a4ea-4762-96a7-3e9ae6910621]
row=1
col=0

[6bedc0cc-928f-479f-9bbe-4a3b772e8876]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/bbqlinux]
row=5
col=0

